* {
  margin: 0px;
  padding: 0px;
}

:root {
  --main-dark-color: #181818;
  --main-white-color: #fff;
  --second-darkgray-color: #333;
  --second-gray-color: #bdbdbd;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #898989;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #f64348;
}

#uniforms .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
#uniforms .owl-nav img {
  width: 200px;
}
@media screen and (max-width: 700px) {
  #uniforms .owl-nav img {
    display: none;
  }
}
#uniforms .owl-dots {
  display: flex;
  position: absolute;
  bottom: -20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#uniforms .owl-dot {
  width: 15px;
  height: 15px;
  background-color: var(--main-white-color);
  border-radius: 100px;
  margin: 0px 2px;
}
#uniforms .owl-dot.active {
  background-color: #22ABE6;
}

.img_logo {
  width: 130px;
  height: auto;
}
@media screen and (max-width: 700px) {
  .img_logo {
    margin-top: 40px;
  }
}

.header {
  margin: 30px 0px 10px 0px;
}
@media screen and (max-width: 700px) {
  .header {
    margin: 0px 0px 10px 0px;
  }
}
.header .container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .header .container {
    flex-direction: column;
    align-items: center;
  }
}

.button_header {
  width: 290px;
  height: 45px;
  margin-top: 40px;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid var(--main-dark-color);
  cursor: pointer;
}
.button_header--review {
  border: 2px solid var(--main-dark-color);
  background-color: var(--main-white-color);
  margin-bottom: 30px;
}
.button_header .button_text {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: var(--main-dark-color);
  align-items: center;
  width: 100%;
}
.button_header .button_text--review {
  padding: 20px 80px;
}

.button_header:hover {
  background-color: var(--second-gray-color);
  border: 2px solid var(--second-gray-color);
}

.button_header--review:hover {
  background-color: var(--main-dark-color);
  border: 2px solid var(--main-white-color);
}

.button_text--review:hover {
  color: var(--main-white-color);
}

.banner {
  background-color: var(--main-dark-color);
}
.banner .container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .banner .container {
    flex-direction: column;
    margin: 0 auto;
  }
}
.banner .container .img {
  display: flex;
  max-width: 1200px;
}
.banner .container .img img {
  width: 700px;
  height: auto;
}
@media screen and (max-width: 700px) {
  .banner .container .img img {
    width: 100%;
  }
}
.banner .container .texto_banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 150px;
  color: var(--main-white-color);
}
@media screen and (max-width: 700px) {
  .banner .container .texto_banner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
  }
}
.banner .container .texto_banner .main_text_banner {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .banner .container .texto_banner .main_text_banner {
    margin-top: 40px;
  }
}
.banner .container .texto_banner .subtext_text_banner {
  padding-top: 40px;
}

@media screen and (max-width: 700px) {
  .hired {
    margin-top: 40px;
  }
}
.hired .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--main-white-color);
}
.hired .container .text_hired {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
}
@media screen and (max-width: 700px) {
  .hired .container .text_hired {
    padding-top: 40px;
    font-size: 22px;
    flex-direction: row;
  }
}
.hired .container .text_hired h2 {
  color: var(--main-dark-color);
  margin-top: 30px;
}
@media screen and (max-width: 700px) {
  .hired .container .text_hired h2 {
    margin-top: 0px;
  }
}
.hired .aligns_imgs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  .hired .aligns_imgs {
    flex-direction: column;
  }
}
.hired .aligns_imgs .hired_img {
  width: 250px;
}
@media screen and (max-width: 700px) {
  .hired .aligns_imgs .hired_img {
    width: 100%;
    padding: 60px 0px;
  }
}

.review {
  background-color: var(--main-dark-color);
}
.review .container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.review .container h2 {
  color: var(--main-white-color);
  margin: 40px 0px;
}
.review .container #video {
  border: 2px solid var(--main-white-color);
}
@media screen and (max-width: 800px) {
  .review .container #video {
    width: 400px;
    border: none;
  }
}
.review .container .review_button {
  display: flex;
}

.uniforms {
  background-color: var(--main-dark-color);
}
.uniforms .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  padding: 40px 0px;
}
.uniforms .container .uniforms_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #22ABE6;
  padding: 0px 0px 40px 0px;
  text-transform: uppercase;
}
.uniforms .container .uniforms-carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.uniforms .container .uniforms-carrousel .uniforms_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.uniforms .container .uniforms-carrousel .uniforms_card .uniforms-colors {
  border-radius: 100px;
  border: 3px solid yellow;
  border-bottom: none;
  width: 400px;
}
.uniforms .container .uniforms-carrousel .uniforms_card .uniforms-colors--blue {
  border-color: blue;
}
.uniforms .container .uniforms-carrousel .uniforms_card .uniforms-colors--white {
  border-color: var(--main-white-color);
}
.uniforms .container .uniforms-carrousel .main_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #22ABE6;
  position: relative;
  bottom: 6px;
}/*# sourceMappingURL=style.css.map */